html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
}
.clearfix{
    display: block;
    line-height: 0;
    height: 0;
    clear: both;
    margin: 0;
    padding: 0;
}



#site{
    /*background: red;*/
    background: white;
}

header{

    background-image: url(img/image.jpg);
    background-repeat: no-repeat;
     height: 1047px; 
    /* width: 75%; */
    background-size: cover;
    background-position: center;
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 34vw) )
}

.site-wrap{
    width: 85%;
    margin: 0 auto;
    /*background: #00800036;*/
}

.left-content{
    position: relative;
    display: inline-block;
    height: 50px;
    /*background: gold;*/
    width: 50%;
}

.left-box{
     display: inline-block;
     height: 750px;
     width: 83%;;
     background: #0000007d;
      /* Slope*/

      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 12vw)
     );
}


.corporate{
    width: 65%;
    margin: 0 auto;
    margin-top: 42px;
    height: 400px;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
}

.text-corporate{
    display: block;
    color: white;
    font-size: 7.313em;
    text-transform: UPPERCASE;
    text-align: center;
    font-weight: bold;
    letter-spacing: 7px;
}

.corporate-bottom-text{
    display: block;
    width: 65%;
    margin: 0 auto;
    color: white;
    font-size: 1.750em;
    margin-top: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.right-content{
    float: right;
    display: inline-block;
    height: 50px;
    /*background: orange;*/
    width: 50%;
}
.right-box{
     float: right;
     height: 400px;
     width: 83%;;
     background: #be482ab8;
     /* Slope*/

    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 12vw)
     );
}

.content-logo-brand{
    width: 39%;
    margin: 0 auto;
    height: 163px;
    margin-top: 37px;

}
#main-logo{
    display: block;
    background: url(img/logo.png) no-repeat;
    width: 100px;
    background-size: 100px;
    height: 56px;
    margin: 0 auto;
}

.text-brand{
    color: white;
    font-size: 1.688em;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-top: 25px;
    letter-spacing: 2px;
}

.brand-description{
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 12.5px;
    margin-top: 2px;
}
/* body */
.body-site{
    position: relative;
    margin-bottom: 40px;
}
.yellow-box{
    display: block;
    position: absolute;
    height: 568px;
    width: 83%;
    background: #f6ce30;
    bottom: -56px;
    clip-path: polygon(0 0,100% 12vw,100% 100%,0 calc(100% - 0vw));
}
.yellow-content{
    margin:9%;
}
.head-text{
    font-size: 3.375em;
    text-transform: uppercase;
    display: block;
    margin-top: 116px;
    font-weight: bold;
}
.black-text{
    font-weight: bold;
    margin-bottom: 40px;
}
.white-text{
    color: white;
    font-weight: bold;
}

.box-qr{
    display: inline-block;
    height: 50px;
    width: 50%;
}
.qr-code{
     margin-top: 113px;
     width: 83%;
}

.text-qr{
    text-transform: uppercase;
    font-size: 1.313em;
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

.qr-image{
    display: block;
    margin: 0 auto;
    height: 85px;
    width: auto;
}
.website{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 22px;
}

/* right description*/

.box-we-are{
    width: 83%;
    float: right;
}
.we-are-head{
    display: block;
    font-size: 3.375em;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.we-are-text-box{
    padding: 14px 0px;
    /*background: green;*/
    border-top: 10px solid #d1d1d2;
    border-bottom: 10px solid #d1d1d2;
}
.title-text{
    display: block;
    margin-top: 6px;
    text-transform: uppercase;
    font-size: 1.563em;
    font-weight: bold;
}
.describe-we-are{
    margin-top: 4px;
    margin-bottom: 42px;
}


/* Footer*/


.left-content-footer{
    display: inline-block;
    height: 50px;
    width: 50%;
}
.footer-box{
    margin-top: 35px;
    background: #dd5b35;
    width: 69%;
    padding: 7%;
}

.footer-text{
    color: white;
    display: block;
    margin: 0 auto;
    width: 90%;
}

/* right-footer*/
.contact-form{
    margin-top: 35px;
    width: 59%;
    margin: 0 auto;
}

.contact-form-title{
    font-size: 1.563em;
    font-weight: bold;
    text-transform: uppercase;
}

.moving{
    float: right;
}

.info{
    margin-top: 20px;
}

.bold-info{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 2%;
}

.info-phone{
    margin-left: 32%;
}
.info-email{
     margin-left: 37%;
}



/*------------------------------------- RESPONSIVE---------------------------------------------*/



@media only screen and (max-width: 1330px){
    .content-logo-brand{
        width: auto;
        text-align: center;
    }
    .we-are-text-box{
        padding: 0;
    }
}

@media only screen and (max-width: 1327px){
    .moving{
        float: none;
    }
}

@media only screen and (max-width: 1315px){
    .contact-form{
    margin-top: 35px;
    width: 84%;
    margin-left: 16%;
    }
}

@media only screen and (max-width: 1100px){
    .site-wrap{
        width: 100%;
    }
}

@media only screen and (max-width: 950px){
    .corporate{
        width: 100%;
    }
}

@media only screen and (max-width: 800px){
    .box-we-are{
        width: 100%;
    }
    .contact-form{
        width: 100%;
        margin-left: 0;
    }
}

/*---------Mobile--------- */

@media only screen and (max-width: 660px){
    header{
     clip-path: none;
    }
    .content-logo-brand{
        margin-top: 89px;
    }

    .right-content{
    float: none; 
    display: block;
    height: 50px;
    /* background: orange; */
    width: 100%;
    }
    .right-box{
        width: 100%;
        clip-path: none;
    }
    .left-content{
        width: 100%;
        height: 580px;
    }
    .left-box{
        width: 100%;
    }

    .corporate{
        height: auto;
        margin-top: 0px;
    }

    .yellow-box{
        width: 100%;
        top:0px;
        bottom: 0px;
        clip-path: none;
    }
    .head-text{
        font-size: 3.563em;
        margin-top: 0px;
    }
    .black-text{
        font-size: 1.250em;
    }
    .white-text{
        font-size: 1.250em; 
    }

    .box-we-are{
        text-align: center;
    }
    .we-are-head{
        font-size: 3.938em;
    }
    .we-are-text-box{
        font-size: 1.250em; /* 20px */
        padding: 44px;
    }


    .box-qr{
    display: inline-block;
    height: auto;
    width: 100%;
    margin-top: 40px;
    }
    .qr-code{
    margin-top: 0px;
    width: 100%;
    }
    .text-qr{
    text-transform: uppercase;
    font-size: 1.938em; /* 31px */
    display: block;
    text-align: center;
    margin-bottom: 11px;
    }
    .qr-image{
    display: block;
    margin: 0 auto;
    height: 133px;
    width: auto;
    }
    .website{
    display: block;
    margin-top: 11px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.938em; /* 31px */
    }


/*--Footer-- */

.left-content-footer{
    width: 100%;
    height: auto;
}
.footer-box{
    width: 100%;
    margin-top: 0px;
    padding: 0;
}
.footer-text{
    width: auto;
    font-size: 1.250em; /* 20px*/
    padding: 40px;
    text-align: center;
    margin: 0;
}

.contact-form{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.contact-form-title{
    font-size: 1.375em;
}
.info{
    font-size: 0.938em; 
}
.info-phone{
    display: block;
    margin-left: 0px;
}
.info-email{
    display: block;
    margin-left: 0px;
}

}